homeserver = "https://myserver.example.com/"
display_name = "MyBot"
username = "mybot"
# change this, seriously, do it
password = "changeme"
# List of room IDs that the bot will join
# All other rooms are ignored
room_ids = ["!myid:myserver.example.com"]
